@font-face {
  font-family: 'Lobster-Regular';
  src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'ShipporiMincho-Regular';
  src: url('../fonts/ShipporiMincho-Regular.ttf');
}

.App {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

/* HEADER */

.header-container {
  background-color: white;
  height: 50vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 1vw; */
}


.header-top {
  background-color: blue;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* height: 13vh; */
}

.header-logo {
  background-color: crimson;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.logo {
  height: 12vh;
}

.header-navlinks-container {
  background-color: yellow;
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a.navlinks {
  color: #493414;
  font-size: 1.3em;
  font-family: ShipporiMincho-Regular;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #65ab24;
}

/* BOTTOM */
.header-bottom {
  background-color: green;
  height: 75%;
  width: 95%;
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-pics {
  height: 100%;
  width: 100%;
  position: absolute;
}

.header-quote{
  background-color: rgba(255, 255, 255, 0.75);
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* position: absolute; */
}

span.header-des {
  color: black;
  font-size: 2.5em;
  font-family: Georgia;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-break {
  border-bottom: 2px dotted #a1712c;
  padding: .5vh;
  margin-bottom: 1vh;
  width: 40%;
}

a.get-quote {
  color: #493414;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #65ab24;
}

/* FOOTER */

.footer-container {
  height: 8vh;
  width: 65vw;
  display: flex;
  flex-direction: row;
  background-color: white;
  bottom: 0;
}

.footer-left-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: black;  -- to see container size */
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facebook {
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.instagram {
  margin-left: 1vw;
  margin-top: -1vh;
}


.footer-right-container {
  width: 15vw;
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
}

.trademark {
  color: black;
  margin-left: 4vw;
  margin-top: 3vh;
}