@font-face {
  font-family: 'Lobster-Regular';
  src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'ShipporiMincho-Regular';
  src: url('../fonts/ShipporiMincho-Regular.ttf');
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'ShipporiMincho-Regular';
  justify-content: center;
  align-items: center;
}




/* HEADER */

.header-container {
  background-color: white;
  height: 50vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-top {
  height: 25%;
  width: 100%;
  display: flex;
  /* height: 13vh; */
}

.header-logo {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.logo {
  height: 12vh;
}

.header-navlinks-container {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a.navlinks {
  color: #493414;
  font-size: 1.25vw;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #65ab24;
}

/* BOTTOM */
.header-bottom {
  height: 75%;
  width: 95%;
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-pics {
  height: 100%;
  width: 100%;
  position: absolute;
}

.header-quote{
  background-color: rgba(255, 255, 255, 0.75);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
}

span.header-des {
  color: black;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-break {
  border-bottom: 2px dotted #a1712c;
  padding: .5vh;
  margin-bottom: 1vh;
  width: 40%;
}

a.get-quote {
  color: #493414;
  font-size: 1.25vw;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #65ab24;
}




/* FOOTER */

.footer-container {
  background-color: white;
  width: 65vw;
  display: flex;
}

.footer-left {
  width: 50%;
  margin-left: 2vh;
  display: flex;
  /* align-items: center; */
}

a.footer-icon {
  margin-top: .5vh;
  margin-bottom: .5vh;
  height: 5vh;
  width: 3vw;
  /* margin-left: 1vw; */
}

a.footer-icon:nth-child(2) {
  margin-left: 1vw;
}

img.footer-pic {
  height: 100%;
  width: 100%;
}

.footer-right {
  width: 50%;
  margin-right: 2vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span.trademark {
  color: #65ab24;
  font-size: 1vw;
}




/* MOBILE DEVICE  */

@media (orientation: portrait) and (max-height: 1200px) {
  .header-container {
    width: 90vw;
  }

  .header-navlinks-container {
    display: flex;
    justify-content: flex-end;
  }

  a.navlinks {
    width: 100%;
    font-size: 4vw;
  }


  span.header-des {
    font-size: 4vw;
  }

  a.get-quote {
    font-size: 3vw;
  }

  .footer-container {
    width: 90vw;
    /* margin-top: 30vh; */
  }


}

@media (orientation: landscape) and (max-width: 1000px) {
  .header-navlinks-container {
    display: flex;
    justify-content: flex-end;
  }
}