.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}


/* HEADER */

.header-container {
  height: 50vh;
  width: 61vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.header-upper-container {
  display: flex;
  flex-direction: row;
  height: 13vh;
}

.header-logo-container {
  display: flex;
  margin-left: 2vw;
  margin-top: 5vh;
  width: 25vw;
}

.header-navlinks-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
  margin-left: 3vw;
  margin-right: 2vw;
  margin-top: 5vh;
}
.navlinks {
  display: flex;
  justify-content: space-between;
}

.header-lower-container {
  height: 35vh;
  width: 58vw;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  background-color: black;
}

.header-get-quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18vh;
  width: 25vw;
  background-color: rgba(255, 255, 255, 0.884);
  align-self: center;
  margin-top: 12vh;
}

.inner-get-quote-1 {
  display: flex;
  justify-content: center;
  color: black;
  width: 18vw;
  font-size: 25px;
}

.inner-get-quote-2 {
  display: flex;
  justify-content: center;
  color: black;
  width: 18vw;
  margin-top: -2vh;
  font-size: 25px;
}

.quote-line {
  color: rgba(0,0,0,.7);
  margin-top: -2vh;
}

.get-quote {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: -.5vh;
  font-size: 22px;
}

/* FOOTER */

.footer-container {
  height: 8vh;
  width: 61vw;
  display: flex;
  flex-direction: row;
  background-color: white;
  bottom: 0;
}

.footer-left-container {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* background-color: black;  -- to see container size */
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facebook {
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.instagram {
  margin-left: 1vw;
  margin-top: -1vh;
}


.footer-right-container {
  width: 15vw;
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
}

.trademark {
  color: black;
  margin-left: 4vw;
  margin-top: 3vh;
}