.booking-container {
    background-color: white;
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.booking-title {
    font-family: Lobster-Regular;
    color: #493414;
    font-size: 5vh;
}

.booking-cards {
    height: 40vh;
    width: 95%;
    border: 2px solid #ffd79b;
    margin-bottom: 2vh;
    display: flex;
}

img.booking-pics {
    height: 100%;
    width: 50%;
}

.booking-card-des {
    color: #493414;
    height: 100%;
    width: 50%;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.booking-card-title {
    font-family: Lobster-Regular;
    font-size: 2vw;
}

a.book-now-button {
    background-color: #a1e763;
    color: white;
    padding: .5vh 2vw .5vh 2vw;
    text-decoration: none;
    margin-top: 2vh;
}

a.book-now-button:hover {
    background-color: #b9eb8d;
}

.test {
    color: black
}