/* BOOKING PAGE */

.booking-main-container {
    margin-top: 7vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.booking-container-title {
    font-family: Lobster-Regular;
    color: rgb(73, 52, 20);
    font-size: 5vh;
}

.booking-main-x-container {
    display: flex;
    width: 58vw;
    align-items: center;
}

.booking-left-y-container {
    display: flex;
    flex-direction: column;
    width: 29vw;
    height: 40vh;
}

.booking-left-img {
    width: 29vw;
    height: 40vh;
}

.booking-right-y-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29vw;
    height: 40vh;
    text-align: center;
    border: 1px solid rgba(73,52,20,0.2);
    font-family: ShipporiMincho;
}

.booking-right-title {
    color: rgb(73, 52, 20);
    font-family: Lobster-Regular;
    font-size: 2.5vh;
    padding-top: 3vh;
}

.booking-right-text-1 {
    width: 20vw;
    margin-top: -.5vh;
    font-size: 2.2vh;
    color: rgb(48, 46, 46);
}

.booking-right-text-2 {
    margin-top: -1vh;
    width: 20vw;
    font-size: 2.2vh;
    line-height: 2em;
    color: rgb(48, 46, 46);
}

.booking-button {
    height: 4vh;
    width: 8vw;
    font-size: 2vh;
    background-color: #A1E763;
    color: white;
    border-radius: 3px;
    border: none;
    font-family: ShipporiMincho;
}