.booking-container {
    background-color: white;
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.booking-title {
    font-family: 'Lobster-Regular';
    color: #493414;
    font-size: 5vh;
}




/* CARD */

.booking-cards {
    /* height: 40vh; */
    width: 95%;
    border: 2px solid #ffd79b;
    margin-bottom: 2vh;
    display: flex;
}

.booking-pic-container {
    height: 45vh;
    width: 50%;
}

img.booking-pics {
    height: 100%;
    width: 100%;
}

.booking-card-info {
    color: #493414;
    width: 50%;
    font-size: 1.25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.booking-card-title {
    font-family: Lobster-Regular;
    font-size: 2vw;
    cursor: pointer;
}

p.booking-card-des {
    width: 80%;
}

span.booking-read-more {
    font-weight: bold;
    cursor: pointer;
}

a.book-now-button {
    background-color: #a1e763;
    width: fit-content;
    color: white;
    font-size: 1vw;
    padding: .5vh 2vw .5vh 2vw;
    text-decoration: none;
    margin-top: 2vh;
}

a.book-now-button:hover {
    background-color: #b9eb8d;
}




/* MODAL */

.modal-card {
    background-color: white;
    color: #493414;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.back-button-container {
    width: 95%;
}

span.modal-back-button {
    color: #a1e763;
    font-size: 1.25vw;
    font-weight: bold;
    cursor: pointer;
}

span.modal-title {
    font-size: 3vw;
}

span.modal-time-price {
    font-size: 1.25vw;
    font-weight: bold;
}

img.book-modal-pic {
    height: 60vh;
    width: 60vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.modal-bottom-half {
    width: 80%;
    display: flex;
    flex-direction: column;
}

p.modal-book-online {
    font-size: 1.5vw;
    font-weight: bold;
}

.modal-breaks {
    border-bottom: 2px dotted #a1712c;
    margin-top: 1vh;
    padding: .5vh;
    width: 100%;
}

p.modal-location {
    font-size: 1.5vw;
}




/* MOBILE DEVICE  */

/* PORTRAIT */
@media (orientation: portrait) and (max-height: 1200px) {
    .booking-container {
        width: 90vw;
    }    

    .booking-cards {
        height: auto;
        width: 90%;
        margin-left: 2vh;
        margin-right: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .booking-pic-container {
        height: 22vh;
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: flex;
        justify-content: center;
    }

    img.booking-pics {
        height: 100%;
        width: 60%;
        border-radius: 150px;
    }

    .booking-card-info {
        width: 100%;
        font-size: 4vw;       
    }

    span.booking-card-title {
        font-size: 5vw;
    }

    a.book-now-button {
        font-size: 4vw;
        margin-bottom: 2vh;
    }

    .back-button-container {
        width: 100%;
    }

    span.modal-back-button {
        font-size: 4vw;
    }

    span.modal-title {
        font-size: 5vw;
    }

    span.modal-time-price {
        font-size: 4vw;
    }

    img.book-modal-pic {
        height: 50%;
        width: 100%;
    }

    .modal-bottom-half {
        width: 100%;
    }

    p.modal-book-online {
        font-size: 4vw;
    }

    p.modal-location {
        font-size: 4vw;
    }

}




/* LANDSCAPE  */
@media (orientation: landscape) and (max-width: 1200px) {
    p.booking-title {
        font-size: 4vw;
    }

    .booking-cards {
        height: auto;
        width: 90%;
        margin-bottom: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .booking-pic-container {
        height: 50vh;
        width: 60%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: flex;
        justify-content: center;
    }

    img.booking-pics {
        width: 65%;
        border-radius: 150px;
    }

    span.booking-card-title {
        font-size: 3vw;
    }

    .booking-card-info {
        width: 100%;
        font-size: 2vw;       
    }

    a.book-now-button {
        font-size: 1.5vw;
        margin-bottom: 2vh;
    }

    span.modal-back-button {
        font-size: 1.75vw;
    }

    span.modal-time-price {
        font-size: 2vw;
    }

    p.modal-book-online {
        font-size: 2vw;
    }

    p.modal-location {
         font-size: 2vw;
    }

}