.container-contact {
    background-color: white;
    width: 65vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    justify-content: space-between;
}

.contact-left {
    /* color: #493414; */
    color: #a1712c;
    width: 50%;
    margin: 2vh;
    font-size: 1.25vw;
}

span.lets-talk {
    color: #65ab24;
    font-size: 2.5vw;
    font-family: Lobster-Regular;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.email-field {
    font-family: monospace;
    color: #a1712c;
    font-size: 1.5vw;
    margin-bottom: .5vh;
    border: 2px solid #65ab24;
}

::placeholder {
    color: #65ab24;
}

.email-mess {
    color: #a1712c;
    font-family: monospace;
    font-size: 1.5vw;
    margin-bottom: .5vh;
    height: 12vh;
    border: 2px solid #65ab24;
}

.button-send {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.email-send {
    background-color: #65ab24;
    border: white;
    color: white;
    font-family: monospace;
    font-size: 1.5vw;
    cursor: pointer;
}

/* RIGHT */

.contact-right {
    width: 50%;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    height: 50%;
    width: 100%;
}

img.map {
    height: 100%;
    width: 100%;
}




/* CONTACT MODAL */

.modal-sent {
    background-color: #65ab24;
    height: 70vh;
    width: 50vw;
    border: #a1712c dotted 8px;
    font-size: 2.5vw;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-error {
    background-color: red;
    height: 70vh;
    width: 50vw;
    border: #a1712c dotted 8px;
    font-size: 2.5vw;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-modal-top {
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.contact-modal-bottom {
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}




/* MOBILE DEVICE  */

@media (orientation: portrait) and (max-height: 1200px) {
    .container-contact {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .contact-left {
        width: 100%;
        font-size: 3.5vw;
    }

    span.lets-talk {
        font-size: 8vw;
    }

    .email-field {
        font-size: 4.5vw;
    }

    .email-mess {
        font-size: 4.5vw;
    }

    .email-send {
        font-size: 4.5vw;
    }

    .contact-right {
        width: 100%;
    }

    .modal-sent {
        height: 40vh;
        width: 80vw;
        font-size: 6vw;
    }

    .modal-error {
        height: 40vh;
        width: 80vw;
        font-size: 6vw;
    }
}