@font-face {
    font-family: 'Lobster-Regular';
    src: url('../fonts/Lobster-Regular.ttf');
}

.container-gallery {
    background-color: white;
    width: 65vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
}

span.gallery {
    color: #65ab24;
    font-size: 2.5vw;
    font-family: Lobster-Regular;
    margin: 1vw;
}

.grid {
    background-color: red;
    height: 90vh;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid-pic {
    background-color: seagreen;
    margin: .09vw;
    height: 30%;
    width: 33%;
}