@font-face {
    font-family: 'Lobster-Regular';
    src: url('../fonts/Lobster-Regular.ttf');
}

.container-gallery {
    background-color: white;
    height: 100vh;
    width: 65vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
}

span.gallery {
    color: #65ab24;
    font-size: 2.5vw;
    font-family: Lobster-Regular;
    margin: 1vw;
}

.container-grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}