.grid {
    height: 27vh;
    width: 20vw;
    margin: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-pic {
    height: 100%;
    width: 100%;
    cursor: pointer;
}