/* HOME PAGE */

.home-container {
    height: 100%;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 8vh;
    background-color: grey;
}

.home-upper-container {
    display: flex;
    flex-direction: row;
}

.home-upper-left-container {
    display: flex;
    flex-direction: column;
}

.home-service-img {
    height: 35vh;
    width: 20vw;
    margin-left: 1vw;
    margin-top: 3vh;
    background-color: black;
}

.home-upper-right-container {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 18vw;
    margin-top: 3vh;
    margin-left: 2vw;
}

.home-service-plan-text {
    font-size: 30px;
}

.home-middle-spacer-container {
    height: 7vw;
}

.home-lower-container {
    display: flex;
    flex-direction: row;
}

.home-lower-left-container {
    display: flex;
    flex-direction: column;
}

.home-about-img {
    height: 40vh;
    width: 25vw;
    margin-top: 2vh;
    background-color: rgb(64, 183, 238);
}

.home-lower-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    width: 25vw;
    margin-top: 2vh;
    background-color: rgb(69, 216, 147);
}

.home-lower-right-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 35px;
    margin-top: 70px;
}

.home-about-us-title-right {
    margin-right: 45px;
    color: black;
}

.home-about-us-title-left {
    margin-left: 45px;
}

.home-lower-right-text {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    color: black;
}

.home-lower-container-btn {
    display: flex;
    justify-content: space-around;
}

.home-lower-btn {
    height: 4vh;
    width: 8vw;
    margin-top: 2.5vh;
    border: solid 3px black;
    background: transparent;
}