.home-container {
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 65vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TOP HALF */
.home-top-half{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-cards{
    padding: 2vh;
    width: 100%;
    margin: 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img.home-service-img {
    width: 35%;
    background-color: black;
}

.home-des-text {
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: #913804;
    width: 35%;
    font-size: 1.5vw;
    margin-left: 2vw;
}

p.home-read-more {
    color: #65ab24;
    width: 100%;
    font-size: 1.25vw;
}

.read-more {
    text-decoration: none;
}

.home-breaks {
    border-bottom: 4px dotted #a1712c;
    padding: .5vh;
    width: 100%;
}

.home-upper-bottom {
    margin: 1vw;
    background-color: white;
    border-bottom: 4px dotted #a1712c;
    display: flex;
    align-items: center;
}

.home-middle-container-row {
    display: flex;
    flex-direction: row;
}

/* BOTTOM HALF */
.home-bottom-half {
    /* height: 60vh; */
    display: flex;
}

.home-img-container {
    height: 60vh;
    width: 50%;
}

img.home-about-pic {
    height: 100%;
    width: 100%;
}

.home-about-us-container {
    background-color: rgb(59, 204, 149);
    height: 60vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-about-us-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vw;
}

span.home-us {
    color: black;
}

.home-about-us-des{
    width: 60%;
    font-size: 1vw;
    color: black;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

button.home-learn-button {
    background: transparent;
    border: solid 3px black;
    font-size: 1vw;
    padding: 1vh;
    cursor: pointer;
}




/* MOBILE DEVICE  */

@media (orientation: portrait) and (max-height: 1200px) {
    .home-container {
        width: 90vw;
    }

    img.home-service-img {
        height: 100%;
        width: 60%;
    }

    .home-des-text {
        font-size: 4vw;
    }

    p.home-read-more {
        font-size: 3.5vw;
    }

    .home-bottom-half {
        flex-direction: column;
        /* height: 50vh; */
    }

    .home-img-container {
        width: 100%;
    }

    img.home-about-pic {
        height: 100%;
    }

    .home-about-us-container {
        width: 100%;
    }

    .home-about-us-title {
        font-size: 5vw;
    }

    .home-about-us-des {
        width: 90%;
        font-size: 3.5vw;
    }

    button.home-learn-button {
        font-size: 3.5vw;
    }
}