/* HOME PAGE */

.home-container {
    /* height: 100%; */
    margin-top: 7vh;
    width: 65vw;
    /* margin-left: 25vw; */
    /* margin-top: 8vh; */
    background-color: grey;
}

.home-upper-container {
    display: flex;
    flex-direction: column;
}

.home-upper-left-container {
    display: flex;
    flex-direction: row;
}

.home-service-img {
    height: 40vh;
    width: 27vw;
    margin-left: 1vw;
    margin-top: 3vh;
    background-color: black;
}

.home-upper-right-container {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 18vw;
    margin-top: 3vh;
    margin-left: 2vw;
}

.home-service-plan-text {
    width: 20vw;
    font-size: 35px;
    font-family: 'Georgia';
    margin-left: 2vw;
}

.home-read-more-1 {
    margin-top: 9vh;
    font-size: 25px;
    font-family: 'Georgia';
}

.home-read-more-2 {
    margin-top: 22vh;
    font-size: 25px;
    font-family: 'Georgia';
}

.home-middle-container-col {
    display: flex;
    flex-direction: column;
}

.home-middle-container-row {
    display: flex;
    flex-direction: row;
}

.home-lower-container {
    display: flex;
    flex-direction: row;
}

.home-lower-left-container {
    display: flex;
    flex-direction: column;
}

.home-about-img {
    height: 60vh;
    width: 30.5vw;
    margin-top: 2vh;
    background-color: rgb(64, 183, 238);
}

.home-lower-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 30.5vw;
    margin-top: 2vh;
    background-color: rgb(59, 204, 149);
}

.home-lower-right-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 35px;
    padding-top: 20vh;
}

.home-about-us-title-right {
    margin-left: 10px;
    color: black;
}

.home-about-us-title-left {
    margin-right: 10px;
}

.home-lower-right-text {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    color: black;
}

.home-lower-container-btn {
    display: flex;
    justify-content: space-around;
}

.home-lower-btn {
    height: 5vh;
    width: 9vw;
    margin-top: 7vh;
    border: solid 3px black;
    background: transparent;
    font-size: 17px;
}