.plans-container {
    background-color: white;
    width: 65vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.plans-choose {
    color: #493414;
    font-size: 3vw;
    font-weight: bold;
}

.plans-card-container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.plans-card {
    color: #493414;
    width: 32%; 
    font-size: 1vw;
    margin-bottom: 2vh;
    border: rgb(121, 121, 121) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
}

.plans-card-top {
    width: 100%;
    border-bottom: rgb(121, 121, 121) solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.plans-card-title {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
}

span.plans-card-price {
    font-size: 4vw;
    font-weight: bold;
}

span.plans-card-package {
    width: 85%;
    display: flex;
    justify-content: center;
    text-align: center;
}

a.plans-contact {
    background-color: #a1e763;
    color: white;
    padding: 1vh 2.5vw 1vh 2.5vw;
    margin-bottom: 2vh;
    text-decoration: none;
}

/* BOTTOM CARD */

.plans-card-bottom {
    height: 60vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}





/* MOBILE DEVICE  */

/* PORTRAIT */
@media (orientation: portrait) and (max-height: 1200px) {
    .plans-container {
        width: 90vw;
    }

    p.plans-choose {
        font-size: 7vw;
    }

    .plans-card {
        width: 100%;
        margin-bottom: 5vh;
        font-size: 4vw;
    }

    p.plans-card-title {
        font-size: 6.5vw;
    }

    span.plans-card-price {
        font-size: 10vw;
    }

    .plans-card-bottom {
        height: auto;
    }

}


/* LANDSCAPE */
@media (orientation: landscape) and (max-width: 1000px) {
    p.plans-choose {
        font-size: 4vw;
    }

    .plans-card {
        width: 100%;
        margin-bottom: 10vh;
        font-size: 2vw;
    }

    p.plans-card-title {
        font-size: 3vw;
    }

    span.plans-card-price {
        font-size: 5vw;
    }

    .plans-card-bottom {
        height: auto;
    }
}