.plans-container {
    background-color: white;
    width: 65vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.plans-choose {
    color: #493414;
}

.plans-card-container {
    background-color: red;
    width: 100%;
    /* margin: 2vh; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: space-between; */
    align-items: center;

}

.plans-card {
    background-color: blue;
    width: 30%;
    /* height: 50vh; */
}