/* SERVICES PAGE */

.services-container {
    height: 150vh;
    width: 61vw;
    margin-top: 7vh;
    background-color: grey;
}

.services-title-container {
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.services-title {
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.services-title-text {
    font-size: 18px;
    margin-left: 20px;
}

.services-title-text-line {
    font-size: 18px;
    margin-left: 20px;
}

.services-images-container {
    display: flex;
    flex-direction: row;
}

.services-landscaping-container {
    display: flex;
    flex-direction: column;
}

.services-landscaping-title {
    font-size: 40px;
    margin-left: 1vw;
    margin-top: 1vh;
}

.services-landscaping-img {
    height: 45vh;
    width: 28vw;
    margin-left: 1vw;
    margin-top: 3vh;
    background-color: black;
}