/* SERVICES PAGE */

.services-container {
    height: 150vh;
    width: 61vw;
    margin-top: 7vh;
    background-color: white;
}


.services-title-container {
    height: 20vh;
    display: flex;
    flex-direction: column;
}


.services-title {
    font-family: Lobster-Regular;
    color: #65ab24;
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.services-title-text {
    font-size: 18px;
    margin-left: 20px;
    color: black;
    font-family: 'Georgia';
}


.services-title-text-line {
    font-size: 18px;
    margin-left: 20px;
    color: grey;
}


.services-images-container {
    display: flex;
    flex-direction: row;
}


.services-landscaping-container {
    display: flex;
    flex-direction: column;
}


.services-landscaping-title {
    font-size: 40px;
    margin-left: 1vw;
    margin-top: 1vh;
    color: #a1712c;
    font-family: 'Georgia';
}


.services-landscaping-img {
    height: 45vh;
    width: 28vw;
    margin-left: 1vw;
    margin-top: 3vh;
    background-color: black;
}