/* TOP */
.services-container {
    width: 65vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    background-color: white;
}

.services-top {
    margin: 2vh;
}

span.our-services {
    color: #65ab24;
    font-size: 2.5em;
    font-family: Lobster-Regular;
}

p.services-des {
    color: #a1712c;
    font-size: 1.25em;
    font-family: 'Georgia';
}

/* BOTTOM */
.services-bottom {
    margin: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.services-cards {
    height: 50vh;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.services-pics {
    height: 80%;
    width: 100%;
}

span.services-cards-title {
    color: #913804;
    font-size: 2.5em;
    font-family: 'Georgia';
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

/* IMG OBJECT-FIT */
/* .services-landscaping-img {
    height: 45vh;
    width: 28vw;
    margin-left: 1vw;
    margin-top: 3vh;
    background-color: black;
    object-fit: contain;
} */